.container {
    position: relative;
}

.svgcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.svgitem img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.popup {
    display: none;
}

.svgitem:hover .popup {
    display: flex !important;
    width: 200px;
    height: 300px;
    z-index: 4;
    background: #dfdfdf;
    position: relative;
    padding: 1em;
    border-radius: 25px;
    overflow: hidden;
    word-break: break-all;
}


.searchinput {
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #fff;
    box-shadow: 0 0 4px 0 #eaeaea;
    color: #000;
}

.searchinput:focus {
    border-bottom: 1px solid #6941c6;
    -webkit-transition: 0.1s;
    transition: 0.5s;
}